<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
      {% for questions in question %}
        <a href="#">{{ questions.id }}.{{ questions.direction }}</a>
        {{ questions.question }}<br>
        {{ questions.answera }}<br>
        {{ questions.answerb }} <br>
        {{ questions.answerc }} <br>
        {{ questions.answerd }} <br>
        {{ questions.correct }} <br>
        {{ questions.question_photo }} <br>
    {% endfor %}
</body>
</html>l>